*{
  margin:0;
  padding: 0;
}
html, body {
  height:100%;
}
.parallax {
  color:#FFF;
  margin: 0 auto;
  position: relative;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#img1 {
  background-image: url("images/api_summer.jpg");
}
#img2 {
  background-image: url("images/api_spring.jpg");
}
#img3 {
  background-image: url("images/api_autumn.jpg");
}
#img4 {
  background-image: url("images/api_winter.jpg");
}

span {
  font-size:40px;
  position: absolute;
  top:500px;
  left: 100px;
}
